body {
  color: #565656; }

.h1 {
  font: normal 400 3.3rem lemongrass-script, sans-serif;
  color: #c6eaf9; }

.h2 {
  font: normal 400 2.6rem lemongrass-script, sans-serif;
  text-align: center;
  padding-bottom: 1.5rem; }

.h3 {
  font: normal 600 2.2rem monarcha, sans-serif; }

p {
  font: normal 400 1.4rem monarcha, sans-serif;
  line-height: 140%;
  padding: 2rem 0; }

.article .h1 {
  font: normal 400 4rem lemongrass-script, sans-serif;
  color: #565656;
  position: relative;
  z-index: 1; }
  .article .h1::after {
    content: '';
    width: 100px;
    height: 5px;
    background: #e591bd;
    position: absolute;
    left: 5px;
    bottom: 9px;
    z-index: -1; }

.article .alert {
  padding-bottom: 0;
  font: normal 400 1.7rem monarcha, sans-serif;
  color: #e591bd; }

.aside .h2 {
  color: #704c5e; }

.section {
  background: #704c5e; }
  .section .display {
    font: normal 600 2.2rem monarcha, sans-serif;
    color: white; }
  .section p {
    font: normal 400 1.4rem monarcha, sans-serif;
    line-height: 140%;
    padding: 2rem 0; }
  .section--one span {
    font: normal 400 2.6rem lemongrass-script, sans-serif;
    padding: 0 5px; }
  .section--two {
    background: #565656; }
    .section--two .display {
      display: inline-block;
      position: relative; }
      .section--two .display::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 7rem;
        background: white;
        height: 2px; }
    .section--two p {
      color: white; }
    .section--two span {
      color: #e591bd; }
  .section--three .h2 {
    display: inline-block;
    background: #565656;
    width: 100%;
    color: #c6eaf9; }

@media (min-width: 408px) {
  h1 {
    font: normal 400 4.4rem lemongrass-script, sans-serif;
    color: #c6eaf9; }
  .h2 {
    font: normal 400 2.8rem lemongrass-script, sans-serif;
    text-align: center;
    padding-bottom: 1.5rem; }
  .section .display {
    font-size: 2.5rem; } }

@media (min-width: 620px) {
  h1 {
    font: normal 400 5.5rem lemongrass-script, sans-serif;
    color: #c6eaf9; }
  .h2 {
    font: normal 400 2.8rem lemongrass-script, sans-serif;
    text-align: center;
    padding-bottom: 1.5rem; }
  .section .display {
    font-size: 3rem; }
    .section .display span {
      font-size: 3.4rem; } }

html {
  font-size: 62.5%; }

* {
  margin: 0;
  padding: 0; }

@media (min-width: 408px) {
  html {
    font-size: 68.5%; } }

@media (min-width: 770px) {
  html {
    font-size: 75%; } }

a {
  text-decoration: none; }

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

.header {
  background: #704c5e;
  min-height: 5rem;
  padding-bottom: 2rem; }

#hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1; }

.line {
  width: 3.5rem;
  height: 3px;
  background: white;
  margin: 8px;
  transition: all 0.3s ease-in-out; }

.active .line:nth-child(2) {
  opacity: 0; }

.active .line:nth-child(1) {
  transform: translateY(12px) rotate(45deg); }

.active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg); }

#menu {
  display: none;
  background: #704c5e;
  z-index: -1; }

#menu.show {
  display: block;
  animation: fadeInTop 1s; }

@keyframes fadeInTop {
  from {
    transform: translateY(-200px);
    opacity: 0; }
  to {
    transform: translateY(0px);
    opacity: 1; } }

#menu ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 7rem 0;
  z-index: 2; }

#menu ul li a:link,
#menu ul li a:visited,
#menu ul li a:active {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  padding-left: 20%;
  text-decoration: none;
  font: 400 normal 2rem 'monarcha';
  color: white;
  z-index: 1; }

#menu ul li a:hover {
  background: white;
  color: #704c5e;
  font-style: italic; }

.desktop-navigation {
  display: none; }

.mobile-navigation {
  z-index: 1; }

.logo img {
  max-width: 100%; }

.main {
  flex: 1;
  padding-bottom: 10rem; }
  .main .modal {
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    left: 0;
    top: 15%;
    opacity: 0;
    width: 100%;
    height: 100%;
    overflow: auto; }
    .main .modal .modal_content {
      background-color: white;
      margin: auto;
      padding: 2rem;
      width: 70%; }
      .main .modal .modal_content a:link,
      .main .modal .modal_content a:visited {
        display: block;
        background: #e591bd;
        font: normal 400 1.8rem monarcha, sans-serif;
        border: none;
        color: white;
        margin: auto;
        text-align: center;
        width: 13rem;
        padding: 1.3rem;
        border: 1px solid #e591bd; }
        .main .modal .modal_content a:link:hover,
        .main .modal .modal_content a:visited:hover {
          background: white;
          color: #e591bd;
          transition: .4s ease-in-out; }
      .main .modal .modal_content .close {
        color: #e591bd;
        float: right;
        font-size: 28px;
        font-weight: bold; }
        .main .modal .modal_content .close:hover {
          color: #565656;
          text-decoration: none;
          cursor: pointer; }

.article {
  max-width: 80rem;
  padding: 5%;
  margin: 0 auto; }
  .article section {
    display: flex;
    flex-direction: column;
    padding: 5%; }
    .article section .img_wrapper img {
      max-width: 100%; }
    .article section #quote_wrapper p {
      padding: 0;
      color: #704c5e; }
      .article section #quote_wrapper p:last-child {
        text-align: right; }

.aside {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 10%; }
  .aside img {
    max-width: 100%; }
  .aside .accordion {
    font: normal 400 1.7rem monarcha, sans-serif;
    padding: 4px 0;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s; }
    .aside .accordion:hover {
      color: #e591bd; }
    .aside .accordion::after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px; }
  .aside .active:after {
    content: "\2212"; }
  .aside .panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out; }

.section {
  padding: 5%; }
  .section--one {
    background: linear-gradient(rgba(112, 76, 94, 0.66), rgba(112, 76, 94, 0.66)), url(../images/hero_image_mobile.jpg);
    min-height: 30rem;
    background-size: cover; }
    .section--one a:link,
    .section--one a:visited {
      display: block;
      background: #e591bd;
      font: normal 400 1.8rem monarcha, sans-serif;
      border: none;
      color: white;
      margin: auto;
      text-align: center;
      width: 13rem;
      padding: 1.3rem; }
      .section--one a:link:hover,
      .section--one a:visited:hover {
        background: white;
        color: #e591bd;
        transition: .4s ease-in-out; }
  .section--three {
    padding: unset;
    background: white; }
    .section--three .arrow-down {
      width: 0;
      height: 0;
      border-left: 30px solid transparent;
      border-right: 30px solid transparent;
      border-top: 30px solid #565656;
      margin: 0 auto; }
    .section--three .featured_wrapper {
      display: flex;
      flex-direction: column;
      padding: 3rem; }
      .section--three .featured_wrapper--item {
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 4rem 0 1rem; }
        .section--three .featured_wrapper--item:not(:last-child) {
          border-bottom: 1px solid #565656; }
        .section--three .featured_wrapper--item a:link,
        .section--three .featured_wrapper--item a:visited {
          display: block;
          background: #e591bd;
          font: normal 400 1.8rem monarcha, sans-serif;
          border: none;
          color: white;
          margin: auto;
          text-align: center;
          width: 13rem;
          padding: 1.3rem;
          font: normal 400 1.5rem monarcha, sans-serif;
          border: 1px solid #e591bd;
          padding: 1rem;
          margin-bottom: 2rem; }
          .section--three .featured_wrapper--item a:link:hover,
          .section--three .featured_wrapper--item a:visited:hover {
            background: white;
            color: #e591bd;
            transition: .4s ease-in-out; }
    .section--three img {
      max-width: 100%;
      margin-bottom: 1.5rem; }

.footer {
  background: #565656;
  color: white;
  font: normal 400 1.4rem monarcha, sans-serif;
  text-align: center;
  padding: 3rem; }
  .footer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    font: normal 400 1.4rem monarcha, sans-serif; }
    .footer ul li {
      list-style-type: none;
      color: white;
      padding: 1rem 0; }
      .footer ul li a:link,
      .footer ul li a:visited {
        color: white; }
        .footer ul li a:link:hover,
        .footer ul li a:visited:hover {
          color: #c6eaf9; }

@media (min-width: 408px) {
  .main .modal .modal_content {
    width: 75%; }
  .section--one {
    padding: 5%; }
    .section--one .heading-wrap {
      max-width: 40rem; }
    .section--one .text-wrap {
      max-width: 44rem; }
  .section--three .featured_wrapper {
    display: flex;
    flex-direction: column;
    max-width: 28rem;
    margin: 0 auto;
    align-items: center; } }

@media (min-width: 620px) {
  .main .modal {
    top: 25%; }
    .main .modal .modal_content {
      width: 50rem; }
  .article section .img_wrapper {
    width: 70%;
    margin: 0 auto; }
  .section--one .heading-wrap {
    max-width: 100%; }
  .section--one .text-wrap {
    max-width: 100%; }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
    .footer ul {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-end; }
      .footer ul li:not(:last-child) {
        padding-right: 3rem; } }

@media (min-width: 770px) {
  .header {
    padding: .5rem; }
  .mobile-navigation {
    display: none; }
  .logo {
    position: static; }
  .desktop-navigation {
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem; }
    .desktop-navigation ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      padding-top: 1rem; }
      .desktop-navigation ul a:link,
      .desktop-navigation ul a:visited,
      .desktop-navigation ul a:active {
        color: white;
        text-decoration: none;
        font: 400 normal 1.5rem 'monarcha'; }
        .desktop-navigation ul a:link:hover,
        .desktop-navigation ul a:visited:hover,
        .desktop-navigation ul a:active:hover {
          color: #c6eaf9; }
      .desktop-navigation ul li:not(:last-child) {
        padding-right: 3rem; } }

@media (min-width: 836px) {
  .article section {
    padding: 0;
    flex-direction: row; }
    .article section .text_wrapper {
      padding-right: 5%; }
    .article section .img_wrapper {
      width: 100%;
      flex: 0 0 33.33%; }
      .article section .img_wrapper img {
        max-width: 100%; }
  .section--two .section-wrap {
    max-width: 80rem;
    margin: 0 auto;
    display: flex; }
    .section--two .section-wrap .display {
      padding-right: 5%;
      flex: 45% 0 0; }
  .section--three .featured_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 80rem;
    padding: 2%; }
    .section--three .featured_wrapper--item {
      max-width: 20rem;
      border-bottom: none; }
      .section--three .featured_wrapper--item:not(:last-child) {
        border-bottom: 0; } }

@media (min-width: 960px) {
  .section--one .heading-wrap {
    margin: 0 auto;
    text-align: center; }
  .section--one .text-wrap {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center; }
  .section--one a:link,
  .section--one a:visited {
    margin-top: 3rem; } }
