html{
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

@media(min-width: 408px){
    html{
        font-size: 68.5%;
    }
}

@media(min-width: 770px){
    html{
        font-size: 75%;
    }
}