@import "mixins";
@import "variables";
@import "typography";
@import "utilities";
@import "base";

a{
    text-decoration: none;
}



//HEADER
.header{
    background: #704c5e;
    min-height: 5rem;
    padding-bottom: 2rem;
}

//HAMBURGER
#hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.line {
    width: 3.5rem;
    height: 3px;
    background: white;
    margin: 8px;
    transition: all 0.3s ease-in-out;
}

.active .line:nth-child(2){
    opacity: 0;
}

.active .line:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}

.active .line:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}

//MOBILE NAVIGATION
#menu{
    display: none;
    background: #704c5e;
    z-index: -1;
    
}

#menu.show{
    display: block;
    animation: fadeInTop 1s;
}


@keyframes fadeInTop {
    from{transform: translateY(-200px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
  }

#menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 7rem 0;
    z-index: 2;

}

#menu ul li a:link,
#menu ul li a:visited,
#menu ul li a:active{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    padding-left: 20%;
    text-decoration: none;
    font: 400 normal 2rem 'monarcha';
    color: white;
    z-index: 1;
}

#menu ul li a:hover{
    background: white;
    color: #704c5e;
    font-style: italic;
}

.desktop-navigation{
    display: none;
}

.mobile-navigation{
    z-index: 1;
}

//LOGO
.logo{
    img{
        max-width: 100%;
    }
}

//MAIN


//SECTIONS
.section{
    padding: 5%;
    &--one{
        background: linear-gradient(rgba(112, 76, 94, 0.66), rgba(112, 76, 94, 0.66)), url(../images/hero_image_mobile.jpg);
        min-height: 30rem;
        background-size: cover;
        a:link,
        a:visited{
            @include button;
        }
    }
    &--three{
        padding: unset;
        background: white;
        .arrow-down{
            width: 0; 
            height: 0; 
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 30px solid $primary-black;
            margin: 0 auto;
        }
        .featured_wrapper{
            display: flex;
            flex-direction: column;
            padding: 3rem;
            &--item{
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 4rem 0 1rem;
                &:not(:last-child){
                    border-bottom: 1px solid $primary-black;
                }
                a:link,
                a:visited{
                    @include button;
                    font: normal 400 1.5rem monarcha, sans-serif;
                    border: 1px solid $secondary-color;
                    padding: 1rem;
                    margin-bottom: 2rem;
                }
                
            }
        }
        img{
            max-width: 100%;
            margin-bottom: 1.5rem;
        }

    }
}

//FOOTER

.footer{
    background: $primary-black;
    color: white;
    font: normal 400 1.4rem $font-family-primary;
    text-align: center;
    padding: 3rem;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        font: normal 400 1.4rem $font-family-primary;
        li{
            list-style-type: none;
            color: white;
            padding: 1rem 0;
            a:link,
            a:visited{
                color: white;
                &:hover{
                    color: $tertiary-color;
                }
            }
        }
    }
}

@media(min-width: 408px){
    .section{
        &--one{
            padding: 5%;
            .heading-wrap{
                max-width: 40rem;
            }
            .text-wrap{
                max-width: 44rem;
            }
        }
        &--three{
            .featured_wrapper {
                display: flex;
                flex-direction: column;
                max-width: 28rem;
                margin: 0 auto;
                align-items: center;
            }
        }
    }   
}

@media(min-width: 620px){
    .section{
        &--one{
            .heading-wrap{
                max-width: 100%;
            }
            .text-wrap{
                max-width: 100%;
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        ul{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            li{
                &:not(:last-child){
                    padding-right: 3rem;
                }
            }
        }
    }
}


@media(min-width: 770px){
    .header{
        padding: .5rem;
    }
    .mobile-navigation{
        display: none;
    }

    .logo{
        position: static;
    }

    .desktop-navigation{
        display: flex;
        justify-content: space-between;
        padding: 2rem 3rem;
        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding-top: 1rem;
            a:link,
            a:visited,
            a:active{
                color: white;
                text-decoration: none;
                font: 400 normal 1.5rem 'monarcha';
                &:hover{
                    color: $tertiary-color;
                }
            }

            li{
                &:not(:last-child){
                    padding-right: 3rem;
                }
            }
        }
    }
}

@media(min-width: 836px){
    .section{
        &--two{
            .section-wrap{
                max-width: 80rem;
                margin: 0 auto;
                display: flex;
                .display{
                    padding-right: 5%;
                    flex: 45% 0 0;
                }
            }
        }
        &--three{
            .featured_wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 80rem;
                padding: 2%;
                &--item{
                    max-width: 20rem;
                    border-bottom: none;
                    &:not(:last-child){
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

@media(min-width: 960px){
    .section{
        &--one{
            .heading-wrap{
                margin: 0 auto;
                text-align: center;
            }
            .text-wrap{
                max-width: 80rem;
                margin: 0 auto;
                text-align: center;
            }

            a:link,
            a:visited{
                margin-top: 3rem;
            }
        }
    }
}