@import "mixins";
@import "variables";
@import "typography";
@import "base";

a{
    text-decoration: none;
}

.site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

//HEADER
.header{
    background: #704c5e;
    min-height: 5rem;
    padding-bottom: 2rem;
}

//HAMBURGER
#hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.line {
    width: 3.5rem;
    height: 3px;
    background: white;
    margin: 8px;
    transition: all 0.3s ease-in-out;
}

.active .line:nth-child(2){
    opacity: 0;
}

.active .line:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}

.active .line:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}

//MOBILE NAVIGATION
#menu{
    display: none;
    background: #704c5e;
    z-index: -1;
    
}

#menu.show{
    display: block;
    animation: fadeInTop 1s;
}


@keyframes fadeInTop {
    from{transform: translateY(-200px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
  }

#menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 7rem 0;
    z-index: 2;

}

#menu ul li a:link,
#menu ul li a:visited,
#menu ul li a:active{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    padding-left: 20%;
    text-decoration: none;
    font: 400 normal 2rem 'monarcha';
    color: white;
    z-index: 1;
}

#menu ul li a:hover{
    background: white;
    color: #704c5e;
    font-style: italic;
}

.desktop-navigation{
    display: none;
}

.mobile-navigation{
    z-index: 1;
}

//LOGO
.logo{
    img{
        max-width: 100%;
    }
}

//MAIN
.main{
    flex: 1;
    padding-bottom: 10rem;
    .modal{
        position: fixed; 
        z-index: 99; 
        padding-top: 100px; 
        left: 0;
        top: 15%;
        opacity: 0;
        width: 100%; 
        height: 100%; 
        overflow: auto; 
        .modal_content{
            background-color: white;
            border: solid 1px $secondary-color;
            margin: auto;
            padding: 2rem;
            width: 70%;
            a:link,
            a:visited{
                @include button;
                border: 1px solid $secondary-color;

            }
            .close{
                color: $secondary-color;
                float: right;
                font-size: 28px;
                font-weight: bold;
                &:hover{
                    color: $primary-black;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
    }
}

//ARTICLE
.article{
    max-width: 80rem;
    padding: 5%;
    margin: 0 auto;
    section{
        display: flex;
        flex-direction: column;
        padding: 5%;
        .text_wrapper{
            display: flex;
            flex-direction: column;
            a:link,
            a:visited{
                 @include button;
                 width: 20rem;
                 margin: 2rem 0;
                 font-size: 1.4rem;
                 border: 1px solid $secondary-color;
            }
        }
        .img_wrapper{
            img{
                max-width: 100%;
            }
        }

        #quote_wrapper{
            p{
                padding: 0;
                color: $primary-color;
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
}

//ASIDE
.aside{
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 10%;
    img{
        max-width: 100%; 
    }
    .accordion {
        font: normal 400 1.7rem $font-family-primary;
        padding: 4px 0;
        cursor: pointer;
        display: inline-block;
        width: 100%;
        border: none;
        outline: none;
        transition: 0.4s;
        &:hover{
            color: $secondary-color;
        }
        &::after{
            content: '\002B';
            color: #777;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
    } 
    .active:after {
        content: "\2212";
      }
    .panel {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
    }
}
//SECTIONS
.section{
    padding: 5%;
    &--one{
        background: linear-gradient(rgba(112, 76, 94, 0.66), rgba(112, 76, 94, 0.66)), url(../images/hero_image_mobile.jpg);
        min-height: 30rem;
        background-size: cover;
        a:link,
        a:visited{
            @include button;
        }
    }
    &--three{
        padding: unset;
        background: white;
        .arrow-down{
            width: 0; 
            height: 0; 
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 30px solid $primary-black;
            margin: 0 auto;
        }
        .featured_wrapper{
            display: flex;
            flex-direction: column;
            padding: 3rem;
            &--item{
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 4rem 0 1rem;
                &:not(:last-child){
                    border-bottom: 1px solid $primary-black;
                }
                a:link,
                a:visited{
                    @include button;
                    font: normal 400 1.5rem monarcha, sans-serif;
                    border: 1px solid $secondary-color;
                    padding: 1rem;
                    margin-bottom: 2rem;
                }
                
            }
        }
        img{
            max-width: 100%;
            margin-bottom: 1.5rem;
        }

    }
}

//FOOTER

.footer{
    background: $primary-black;
    color: white;
    font: normal 400 1.4rem $font-family-primary;
    text-align: center;
    padding: 3rem;
    ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        font: normal 400 1.4rem $font-family-primary;
        li{
            list-style-type: none;
            color: white;
            padding: 1rem 0;
            a:link,
            a:visited{
                color: white;
                &:hover{
                    color: $tertiary-color;
                }
            }
        }
    }
}

@media(min-width: 408px){
    .main{
        .modal{
            .modal_content{
                width: 75%;
            }
        }
    }
    .section{
        &--one{
            padding: 5%;
            .heading-wrap{
                max-width: 40rem;
            }
            .text-wrap{
                max-width: 44rem;
            }
        }
        &--three{
            .featured_wrapper {
                display: flex;
                flex-direction: column;
                max-width: 28rem;
                margin: 0 auto;
                align-items: center;
            }
        }
    }   
}

@media(min-width: 620px){
    .main{
        .modal{
            top: 25%;
            .modal_content{
                width: 50rem;
            }
        }
    }
    .article{
        section{
            .img_wrapper{
                width:70%;
                margin: 0 auto;
            }
        }

    }
    .section{
        &--one{
            .heading-wrap{
                max-width: 100%;
            }
            .text-wrap{
                max-width: 100%;
            }
        }
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        ul{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            li{
                &:not(:last-child){
                    padding-right: 3rem;
                }
            }
        }
    }
}


@media(min-width: 770px){
    .header{
        padding: .5rem;
    }
    .mobile-navigation{
        display: none;
    }

    .logo{
        position: static;
    }

    .desktop-navigation{
        display: flex;
        justify-content: space-between;
        padding: 2rem 3rem;
        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding-top: 1rem;
            a:link,
            a:visited,
            a:active{
                color: white;
                text-decoration: none;
                font: 400 normal 1.5rem 'monarcha';
                &:hover{
                    color: $tertiary-color;
                }
            }

            li{
                &:not(:last-child){
                    padding-right: 3rem;
                }
            }
        }
    }
}

@media(min-width: 836px){
    .article{
        section{
            padding: 0;
            flex-direction: row;
            .text_wrapper{
                padding-right: 5%;
            }
            .img_wrapper{
                width: 100%;
                flex: 0 0 33.33%;
                img{
                    max-width: 100%;
                }
            }
        }
    }

    .section{
        &--two{
            .section-wrap{
                max-width: 80rem;
                margin: 0 auto;
                display: flex;
                .display{
                    padding-right: 5%;
                    flex: 45% 0 0;
                }
            }
        }
        &--three{
            .featured_wrapper{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                max-width: 80rem;
                padding: 2%;
                &--item{
                    max-width: 20rem;
                    border-bottom: none;
                    &:not(:last-child){
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}

@media(min-width: 960px){
    .section{
        &--one{
            .heading-wrap{
                margin: 0 auto;
                text-align: center;
            }
            .text-wrap{
                max-width: 80rem;
                margin: 0 auto;
                text-align: center;
            }

            a:link,
            a:visited{
                margin-top: 3rem;
            }
        }
    }
}