@import "mixins";
@import "variables";
@import "typography";
@import "utilities";
@import "base";

//HEADER
.header{
    background: #704c5e;
    min-height: 10rem;
}

//HAMBURGER
#hamburger {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}

.line {
    width: 3.5rem;
    height: 3px;
    background: white;
    margin: 8px;
    transition: all 0.3s ease-in-out;
}

.active .line:nth-child(2){
    opacity: 0;
}

.active .line:nth-child(1){
    transform: translateY(12px) rotate(45deg);
}

.active .line:nth-child(3){
    transform: translateY(-10px) rotate(-45deg);
}

//MOBILE NAVIGATION
#menu{
    display: none;
    background: #704c5e;
    z-index: -1;
    
}

#menu.show{
    display: block;
    animation: fadeInTop 1s;
}


@keyframes fadeInTop {
    from{transform: translateY(-200px); opacity: 0;}
    to {transform: translateY(0px); opacity: 1;}
  }

#menu ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 7rem 0;
}

#menu ul li a:link,
#menu ul li a:visited,
#menu ul li a:active{
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    padding-left: 20%;
    text-decoration: none;
    font: 400 normal 20px 'monarcha';
    color: white;
}

#menu ul li a:hover{
    background: white;
    color: #704c5e;
    font-style: italic;
}

.desktop-navigation{
    display: none;
}

//LOGO
.logo{
    width: 50px;
    height: 50px;
    background: white;
}

//MAIN


//SECTIONS


@media(min-width: 770px){
    .mobile-navigation{
        display: none;
    }

    .desktop-navigation{
        display: flex;
        justify-content: space-between;
        padding: 2rem 3rem;
        ul{
            display: flex;
            flex-direction: row;
            list-style-type: none;
            padding-top: 2rem;
            a:link,
            a:visited,
            a:active{
                color: white;
                text-decoration: none;
                font: 400 normal 20px 'monarcha';
            }

            li{
                &:not(:last-child){
                    padding-right: 3rem;
                }
            }
        }
    }
}