@mixin button{
        display: block;
        background: $secondary-color;
        font: normal 400 1.8rem monarcha, sans-serif;
        border: none;
        color: white;
        margin: auto; 
        text-align: center;
        width: 13rem;
        padding: 1.3rem;
        &:hover{
            background: white;
            color: $secondary-color;
            transition: .4s ease-in-out;}
}