body{
    color: $primary-black;
}
.h1{
    font: normal 400 3.3rem $font-family-secondary;
    color: $tertiary-color;
}

.h2{
    font: normal 400 2.6rem $font-family-secondary;
    text-align: center;
    padding-bottom: 1.5rem;
    }


.h3{
    font: normal 600 2.2rem $font-family-primary;
}

p{
    font: normal 400 1.4rem $font-family-primary;
    line-height: 140%;
    padding: 2rem 0;
}

.article{
    .h1{
        font: normal 400 4rem lemongrass-script, sans-serif;
        color: $primary-black;
        position: relative;
        z-index: 1;
        &::after{
            content: '';
            width: 100px;
            height: 5px;
            background: $secondary-color;
            position: absolute;
            left: 5px;
            bottom: 9px;
            z-index: -1;
        }
    }
    .alert{
        padding-bottom: 0;
        font: normal 400 1.7rem $font-family-primary;
        color: $secondary-color;
    }

}
    

.aside{
    .h2{
        color: $primary-color;
    }
}
.section{
    background: $primary-color;
    .display{
        font: normal 600 2.2rem $font-family-primary;
        color: white;
    }
    p{
        font: normal 400 1.4rem $font-family-primary;
        line-height: 140%;
        padding: 2rem 0;
    }
    &--one{
        span{
            font: normal 400 2.6rem $font-family-secondary;
            padding: 0 5px;
        }
    }
    &--two{
        background:$primary-black;
        .display{
            display: inline-block;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 7rem;
                background: white;
                height: 2px;
            }
        }
        p{
            color: white;
        }
        span{
            color: $secondary-color;
        }
    }
    &--three{
        .h2{
            display: inline-block;
            background: $primary-black;
            width: 100%;
            color: $tertiary-color;
        }
    }
}


@media(min-width: 408px){
    h1{
        font: normal 400 4.4rem $font-family-secondary;
        color: $tertiary-color;
    }

    .h2{
        font: normal 400 2.8rem $font-family-secondary;
        text-align: center;
        padding-bottom: 1.5rem;
        }

    .section{
        .display{
            font-size: 2.5rem;
        }
    }
}

@media(min-width: 620px){
    h1{
        font: normal 400 5.5rem $font-family-secondary;
        color: $tertiary-color;
    }

    .h2{
        font: normal 400 2.8rem $font-family-secondary;
        text-align: center;
        padding-bottom: 1.5rem;
        }

    .section{
        .display{
            font-size: 3rem;
            span{
                font-size: 3.4rem;
            }
        }
    }
}

