//COLORS
$primary-color: #704c5e;
$secondary-color: #e591bd;
$tertiary-color: #c6eaf9;
$primary-black: #565656;

//FONTS
$font-family-primary: monarcha, sans-serif;
$font-family-secondary: lemongrass-script, sans-serif;